.p1{
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.p2{
    margin-top: 0;
    padding-top: 0;
    font-size: 18px;
}
.p3{
    margin-top: 0;
    font-size: 18px;
    padding-top: 0;
    /* padding-bottom: 15px; */
}
.p4{
    margin-top: 0;
    font-size: 7vw;
    padding-top: 0; 
}
.p5{
    margin-top: 0;
    font-size: 3vw;
}
.padding-top{
    padding-top: 2vw;
}
.padding-bottom{
    padding-bottom: 2vw;
}
.align-text{
    padding-top: 0;
}
.dark-background{
    background-color: rgb(63,55,60);
}
.mobile-padding-sigil{
    padding: 6vw;
}