.box-layout{
    padding-top: 20px;
    background-color: #FFFFFF;
}

.text-box-layout{
    background-color: rgba(192,192,192,0.1);
}

.standard-text-layout{
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.bottom-border{
    border-bottom-style: solid;
    border-bottom-width: 1.5px !important;
    border-color: rgba(192,192,192, 0.3);
}